@charset "UTF-8";

:root {
    --panel-item-bg-hover: #373737 !important;
    --panel-sidebar-bg:    #1a1a1a !important;
}

/* 側邊欄部分 Start */
aside.el-aside > div.head::before { 
    content: "";
    height: 10px;
    width: 10px;
    display: block;
    background-color: #22e489;
    position: relative;
    border-radius: 50%;
    bottom: -40px;
    right: -40px;
    border-color: #232323;
    border-style: solid;
    border-width: 3px;
}
aside.el-aside {
    padding-top: 0 !important;
}
.chat-group {
    padding: 0 5px 0 5px;
}
.chat-group > a > div {
    border-radius: 10px;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chat-group > a > div:hover, .chat-group > a > div.selected {
    background-color: #272727;
    transform: scale(1.05);
}
.chat-group > a > div, .chat-group > a > div.selected {
    transition: all ease-in-out 0.3s;
}
/* 側邊欄部分 End */

div.panel.rooms-panel.avatar-only > div.root > div.head {
    /* avatar-only 時不顯示搜索框 */
    display: none;
}

/* avatar-only 時顯示消息數量 start */
.panel.rooms-panel.avatar-only div.entry > div.right {
    display: block;
}
.panel.rooms-panel.avatar-only div.entry > div.right > .flex.l1,
.panel.rooms-panel.avatar-only div.entry > div.right > .flex > .desc {
    display: none;
}
.panel.rooms-panel.avatar-only div.entry > div.right > .flex .el-badge {
    display: block;
    position: absolute;
    top: 41px;
    left: 41px;
}

.el-badge__content.is-fixed {
    right: 15px;
}
/* avatar-only 時顯示消息數量 end */


